<%
var keywords = '';
var description = '';
(function() {
    if (theme.keywords) {
        keywords += theme.keywords;
        keywords += ',';
    }
    if (page.keywords) {
        keywords += page.keywords;
    }
    if (config.description) {
        description += config.description;
        description += ',';
    }
    if  (is_post()) {
        description += truncate(strip_html(page.content), {length: 100, omission: ','});
    }
})();
%>
<!DOCTYPE html>
<html lang="<%= config.language %>" class="loading">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title><%= page_title() %></title>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="google" content="notranslate" />
    <% if (keywords) { %><meta name="keywords" content="<%= keywords %>"> <% } %>
    <% if (description) { %><meta name="description" content="<%= description %>"> <% } %>
    <% if (config.author){ %><meta name="author" content="<%= config.author %>"> <% } %>
    <% if (theme.rss){ %><link rel="alternative" href="<%- theme.rss %>" title="<%= config.title %>" type="application/atom+xml"> <% } %>
    <% if (theme.favicon){ %><link rel="icon" href="<%- url_for(theme.favicon) %>"> <% } %>
    <%- css(['//www.zhengnn.com/cdn/css/font_1429596_nzgqgvnmkjb.css'])%>
    <%- css(['//www.zhengnn.com/cdn/libs/animate.css/animate.min.css'])%>
    <%- css(['//cdn.bootcdn.net/ajax/libs/social-share.js/1.0.16/css/share.min.css'])%>
    <%- css(['//www.zhengnn.com/cdn/libs/codemirror/codemirror.min.css'])%>
    <%- css(['//www.zhengnn.com/cdn/libs/codemirror/dracula.css'])%>
    <%- css(['css/obsidian.css'])%>
    <%- css(['css/ball-atom.min.css'])%>
    <%- theme.header_html %>
    <%- css(['//www.zhengnn.com/cdn/libs/font-awesome/fontawesome.min.css']) %>
    <% if (theme.aplayer.enable == true) { %>
    <script>var musiclist = "<%- theme.aplayer.musiclist%>"</script>
    <%- js(['/js/loadaplayer.js'])%>
    <!-- 引用依赖 -->
    <%- css(['/aplayer/dist/APlayer.min.css'])%>
    <%- js(['/aplayer/dist/APlayer.min.js', '/js/Meting.min.js'])%>
    <% } %>
</head>
